h1 {
  color: crimson;
  text-align: center;
  background-color: blanchedalmond;
  border: red solid;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
}
p {
  color: black;
  border: 5px red solid;
  border-style: double;
  padding: 30px;
  line-height: 30px;
  background-color: blanchedalmond;
}
#terserah {
  background-image: url("../img/download.jpeg");
  background-size: cover;
}
#terserah h1 {
  color: black;
  background-color: transparent;
  border: none;
}

#kotaksatu{
  width: 50px;
  height: 50px;
  background-color: brown;
  display:inline-block;
  
}

#kotakdua{
  width: 50px;
  height: 50px;
  margin-top: 2px;
  background-color: rgb(201, 102, 102);  
  
  display:inline-block;
}

#lingkaran{
  width: 50px;
  height: 50px;
  margin-top: 10 px;
  display:inline-block;
  background-color: brown;
  border-radius: 50px;
}

#persegipanjang{
  width: 80px;
  height: 50px;
  margin-top: 10px;
  display:inline-block;
  background-color: rgb(196, 154, 234);
}

#segitiga{
  border-bottom: solid 50px rgb(218, 126, 157);
  margin-top: 10px;
  display:inline-block;
  border-left:solid 80x transparent;
  border-right: solid 80px transparent;
}